@import url(//fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(modal.css);
@font-face {
    font-family: 'Candela Book';
    src: url('font/CandelaBook-webfont.eot');
    src: url('font/CandelaBook-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CandelaBook-webfont.woff') format('woff'),
         url('font/CandelaBook-webfont.ttf') format('truetype'),
         url('font/CandelaBook-webfont.svg#candelabook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Candela Bold';
    src: url('font/CandelaBold-webfont.eot');
    src: url('font/CandelaBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CandelaBold-webfont.woff') format('woff'),
         url('font/CandelaBold-webfont.ttf') format('truetype'),
         url('font/CandelaBold-webfont.svg#candela_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}



html {
    /* height: 100%;    /* Mysteriously needed for "and stay down" footer. */
}
body {
    background-color: #111;
    color: #EFEFFE;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: column;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%; /* Footer stay down */
}

#wrapper {
	min-height: 100vh; /* Relatively the full height of the entire body! */
	position:relative;
}


.logo-text {
    font-family: 'Candela Book', sans-serif;
}
.logo-text strong {
    font-family: 'Candela Bold', 'VAG Rounded', sans-serif;
    font-size: 105%;
    font-weight: normal;
}


.red {
    color: #EE114F;
    color: rgb(238, 17, 79);
    color: hsl(343, 87%, 50%);
}
.green {
    color: #80CC28;
    color: rgb(128,204,40);
    color: hsl(88,67%,48%);
}
.blue {
    color: #66CACC;
    color: rgb(102,202,204);
    color: hsl(181,50%,60%);
}

nav a {
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
nav a:hover, nav a:active {
    color: #FEFEEF;
}
nav .red:hover, nav .red:active {
    background-color: #EE114F;
    background-color: rgb(238, 17, 79);
    background-color: hsl(343, 87%, 50%);
}
nav .green:hover, nav .green:active {
    background-color: #80CC28;
    background-color: rgb(128,204,40);
    background-color: hsl(88,67%,48%);
}
nav .blue:hover, nav .blue:active {
    background-color: #66CACC;
    background-color: rgb(102,202,204);
    background-color: hsl(181,50%,60%);
}

.bg-on {
    background: transparent;
}
.red.bg-on:hover, .red.bg-on:active {
    background-color: #EE114F;
    background-color: rgb(238, 17, 79);
    background-color: hsl(343, 87%, 50%);
}
.green.bg-on:hover, .green.bg-on:active {
    background-color: #80CC28;
    background-color: rgb(128, 204, 40);
    background-color: hsl(88, 67%, 48%);
}
.blue.bg-on:hover, .blue.bg-on:active {
    background-color: #66CACC;
    background-color: rgb(102, 202, 204);
    background-color: hsl(181, 50%, 60%);
}

.red-bg {
    background-color: #EE114F;
    background-color: rgb(238, 17, 79);
    background-color: hsl(343, 87%, 50%);
    color: #EEE;
}
.green-bg {
    background-color: #80CC28;
    background-color: rgb(128, 204, 40);
    background-color: hsl(88, 67%, 48%);
    color: #EDEDED;
}
.blue-bg {
    background-color: #66CACC;
    background-color: rgb(102, 202, 204);
    background-color: hsl(181, 50%, 60%);
    color: black;
}


header {
    height: 2.5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	padding: 0;
	background: #333;
}
header h1 {
    margin: 0 0.25em 0 0.5em;
    font-weight: normal;
}
header nav {
    height: 100%;
    margin: 0 0.5em 0 0;
    font-size: 1.25em;
}
header nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
header nav ul a {
    border-left: 1px solid #222;
    height: 100%;
    padding: 0 0.4em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eee;
}
header li {
    padding: 0;
    list-style: none;
    text-indent: 0;
    text-shadow: #333 1px 1px 0;
}


#content {
	padding: 0 0 45px;   /* Combined height of the footer element */
}
#content>div {
	width: 70%;
	padding: 0 15%;
}

p {
    font-size: 1.25em;
    text-indent: 0.5em;
}

#masthead {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}
#masthead picture {
    margin: 1em 1em 0;
    min-width: 130px;
    min-height: 130px;
    border-radius: 50%;
    background-color: #555;
}
#masthead picture img {
    margin-left: 7px;
}
#masthead span {
    font-size: 1.3em;
}
#masthead span span {
    font-size: 1.6em;
}
#biogs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}
#biogs .biog {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#biogs #biog-Brendan {
    border-right: 1px solid #ccc;
}
#biogs #biog-Blixa {
    border-left: 1px solid #ccc;
}
#biogs .biog .biog-nameplate {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
}
#biogs .biog .biog-nameplate span {
    font-size: 110%;
}
#biogs .biog .biog-nameplate picture {
    margin: 0 1em;
}
#biogs .biog .biog-bullets {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}


#principles ul h3 {
    display: inline;
}



footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:30px;
	padding: 10px 0 5px;
    background: #222;
    font-size: 90%;
    color: #EFEFFE;
    text-indent: 1em;
}
footer a {
    margin-left: 4px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 110%;
    color: #EFEFFE;
}
footer a:visited {
    color: #EFEFFE;
}
footer strong {
    font-family: 'Candela Bold', sans-serif;
    font-size: large;
}



#pitch {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 400vh;    /* Mysteriously needed with html height 100%. */
    height: auto;
    color: #EEE;
}
#pitch>div {
    height: 100vh;
    width: 80%;
    margin: 0;
    padding: 0 10% 5vh;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
#pitch p {
    margin: 0;
    font-size: 3em;
    line-height: 1;
    text-indent: 0;
    color: #EDEDED;
    text-shadow: rgb(7, 7, 7) 0px -1px 3px, rgb(7, 7, 7) 0px 1px 3px;
}
#pitch u {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid;
}

#pitch .fa {
    color: black;
    text-shadow: none;
}

#headline {
    flex-direction: column;
}
#headline p {
    margin-bottom: 1.25em;
}
#headline #somethings {
    font-size: 3em;
    word-spacing: 1em;
}

@-webkit-keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  33%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  33%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  33%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  33%  { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence1 {
    -webkit-animation: somethingsSequence1 2s ease-in;
       -moz-animation: somethingsSequence1 2s ease-in;
        -ms-animation: somethingsSequence1 2s ease-in;
         -o-animation: somethingsSequence1 2s ease-in;
            animation: somethingsSequence1 2s ease-in;
}
@-webkit-keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  16.5%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  16.5%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  16.5%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  16.5%  { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence2 {
    -webkit-animation: somethingsSequence2 2s ease;
       -moz-animation: somethingsSequence2 2s ease;
        -ms-animation: somethingsSequence2 2s ease;
         -o-animation: somethingsSequence2 2s ease;
            animation: somethingsSequence2 2s ease;
}
@-webkit-keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence3 {
    -webkit-animation: somethingsSequence3 2s linear;
       -moz-animation: somethingsSequence3 2s linear;
        -ms-animation: somethingsSequence3 2s linear;
         -o-animation: somethingsSequence3 2s linear;
            animation: somethingsSequence3 2s linear;
}

#see-do {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
}
#see-do>div {
    width: 33.3%;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
}
#see-do .fadeInLeft {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
        opacity: 0;
	}
	1% {
        opacity: 1;
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}
@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
        opacity: 0;
	}
	1% {
        opacity: 1;
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}
#see-do .stretchRight{
    -webkit-animation: stretchRight 1.5s 1.5s ease-out;
    -moz-animation: stretchRight 1.5s 1.5s ease-out;
    -o-animation: stretchRight 1.5s 1.5s ease-out;
    animation: stretchRight 1.5s 1.5s ease-out;

	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

@keyframes pentacycle1 {
	0% {
        display: inherit;
	}
	20%, 100% {
        display: none;
	}							
}
@keyframes pentacycle2 {
	0% {
        display: none;
	}
	20% {
        display: inherit;
	}
	40%, 100% {
        display: none;
	}							
}
@keyframes pentacycle3 {
	0% {
        display: none;
	}
	40% {
        display: inherit;
	}
	60%, 100% {
        display: none;
	}							
}
@keyframes pentacycle4 {
	0% {
        display: none;
	}
	60% {
        display: inherit;
	}
	80%, 100% {
        display: none;
	}							
}
@keyframes pentacycle5 {
	0% {
        display: none;
	}
	80% {
        display: inherit;
	}
	100% {
        display: none;
	}							
}

#see-do #do div .icon-cycle .fa {
    display: inherit;
}
#see-do #do div .icon-cycle .pentacycle1 {
    -webkit-animation: pentacycle1 5s 0s infinite linear;
    -moz-animation: pentacycle1 5s 0s infinite linear;
    -o-animation: pentacycle1 5s 0s infinite linear;
    animation: pentacycle1 5s 0s infinite linear;
}
#see-do .icon-cycle .pentacycle2 {
    -webkit-animation: pentacyle2 5s 0s infinite linear;
    -moz-animation: pentacyle2 5s 0s infinite linear;
    -o-animation: pentacyle2 5s 0s infinite linear;
    animation: pentacyle2 5s 0s infinite linear;
}
#see-do .icon-cycle .pentacycle3 {
    -webkit-animation: pentacyle3 5s 0s infinite linear;
    -moz-animation: pentacyle3 5s 0s infinite linear;
    -o-animation: pentacyle3 5s 0s infinite linear;
    animation: pentacyle3 5s 0s infinite linear;
}
#see-do .icon-cycle .pentacycle4 {
    -webkit-animation: pentacyle4 5s 0s infinite linear;
    -moz-animation: pentacyle4 5s 0s infinite linear;
    -o-animation: pentacyle4 5s 0s infinite linear;
    animation: pentacyle4 5s 0s infinite linear;
}
#see-do .icon-cycle .pentacycle5 {
    -webkit-animation: pentacycle5 5s infinite linear;
    -moz-animation: pentacycle5 5s infinite linear;
    -o-animation: pentacycle5 5s infinite linear;
    animation: pentacycle5 5s infinite linear;
}

#see-do #do {
    margin-top: 10em;
    width: auto;
}
#see-do p {
    margin-bottom: 0.5em;
}
#see-do picture {
    display: inline-block;
    margin-bottom: 2em;
}
#see-do i {
    margin: auto 0.1em;
}
#see-do #do>div {
    font-size: 3em;
}

#consult {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
}
#consult i {
    color: white;
}

#close {
    flex-direction: column;
    background: #000 
    /*
        repeating-radial-gradient(
        circle at bottom center, 
        hsla(343, 0%, 50%, 0.9),
        hsla(88, 0%, 48%, 0.9),
        hsla(181, 0%, 60%, 0.9)
        200px)
    */;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    text-shadow: rgb(7, 7, 7) 0px -1px 3px, rgb(7, 7, 7) 0px 1px 3px;
}

#action {
	width: 100%;
    height: 100vh;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;   /* TWEENER - IE 10 */
    display: -webkit-flex;  /* NEW - Chrome */
    display: flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: row wrap;
    align-items: center;
    /*
	background: -moz-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(
                    radial, closest-side closest-side, 0px, closest-side closest-side, 100%, 
                    color-stop(0%,rgba(255,255,255,0.56)), 
                    color-stop(100%,rgba(241,210,194,1))
                );
	background: -webkit-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -o-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -ms-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%); 
	*/
	background-color: #222;
}
#action #nameplate {
    width: 100%;
    height: 67vh;
    margin: 0;
    padding: 0;
	background-color: #222;
	background-image: url(http://www.transparenttextures.com/patterns/triangles.png);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1c1c1c;
    font-family: 'Candela Book', 'VAG Rounded', sans-serif;
    -webkit-box-shadow: 0 10px 10px 5px rgba(0,0,0,0.5);
    box-shadow: 0 7.5px 10px 10px rgba(34,34,34,0.75);
    z-index: 2;
}
#action #nameplate #logo {
    border-bottom: 1px solid #aaa;
    padding: 0 1em 0.75em 0.75em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-items: center;
}
#action #nameplate h1 {
    font-size: 3em;
    font-weight: normal;
    line-height: 2;
    margin: 1em 0 0 -0.2em;
    color: #EEE;
}
#nameplate #tagline {
    min-width: 33%;
    margin: 0 auto;
}
#nameplate h2 {
    text-align: center;
    font-size: 2em;
    line-height: 0.5;
    word-spacing: 0.35em;
    font-weight: normal;
    color: #CDCDDC;
}

#action #links {
    width: 100%;
    margin: 0;
    padding: 0;
    /* fallback */
    background-color: #777;

    /* Safari 5.1, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #111, #555, #666);
    
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #111, #555, #666);
    
    /* IE 10 */
    background-image: -ms-linear-gradient(top, #111, #555, #666);
    
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #111, #555, #666);
    /*
    background-image:
        linear-gradient(
            to right, 
            hsla(343, 0%, 53%, 0.85),
            hsla( 88, 0%, 48%, 0.85), 
            hsla(181, 0%, 60%, 0.85)
        );
    */
	text-align: center;
}

#action #links ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-image:
        linear-gradient(
            to right, 
            hsla(343, 87%, 53%, 0.33),
            hsla( 88, 67%, 48%, 0.33), 
            hsla(181, 50%, 60%, 0.5)
        );
}
#action #links div {
    width: 33.33%;
    height: 33vh;
    margin: 0;
    border-color: #222;
    border-color: rgba(40,40,40,0.5);
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
#action #links a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: none;
    text-shadow: hsla(0,0%,10%,0.5) 1px 1px 1px, 
                 hsla(0,0%,10%,0.5) -1px 1px 1px, 
                 hsla(0,0%,10%,0.5) 1px -1px 1px, 
                 hsla(0,0%,10%,0.5) -1px -1px 1px;
}
#action #links a li {
    border-bottom: 2px dotted;
}
#action #links a:hover {
    color: #fff;
}
#action #links a:hover li {
    border-bottom-style: solid;
    cursor: pointer;
}
#action #links li {
    list-style: none;
}
#action #links a label:hover {
    cursor: pointer;
}
#action #links #contact {
    border-right-width: 0;
}
#action #links .split {
    height: 16.5vh;
    padding: 0.4em 0;
    font-size: 1.75em;
}
#action #links .split.upper {
    justify-content: flex-end;
    border-bottom: 1px solid;
    border-bottom-color: #222;
    border-bottom-color: rgba(40,40,40,0.5);
}
#action #links .split.lower {
    justify-content: flex-start;
}
#action #links .split label {
    display: none;
}
#action #links .split:hover li {
    display: none;
}
#action #links .split:hover label {
    display: flex;
}




@media (max-width: 1043px) {
	body {
		font-size: 90%;
	}
	article {
		padding: 0;
		width: 100%;
	}
	p {
		font-size: 1.5em;
		margin: .5em 0 0 0;
	}
	#nameplate h2 {
		font-size: auto;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 80%;
	}
	article {
		padding: 0;
		width: 100%;
	}
	p {
		font-size: 1.5em;
		margin: .5em 0 0 0;
	}
	#nameplate h2 {
		font-size: auto;
	}
	#action #links a {
        font-size: 1.75em;
        font-weight: bold;
        border-bottom-width: 1px;
	}
	#action #links .split {
        font-size: 1.5em;
	}
	#action #links #contact label {
        flex-flow: column nowrap;
	}
}

@media (max-width: 472px) {
	body {
		font-size: 70%;
	}
    #pitch p {
        font-size: 2.5;
    }
    #headline #somethings {
        font-size: 2.5em;
        word-spacing: 0.75em;
    }
	#action #links span {
	    display: block;
	}
}

@media (max-width: 420px) {
    #action #nameplate {
        height: 75vh;
    }
    #action #nameplate #logo {
        padding: 0 1em 0.75em;
    }
    #action #nameplate h1 {
        margin-left: 0;
    }
	#action #nameplate #logo {
	    flex-flow: column;
	    align-items: center;
	}
	#action #nameplate #logo strong {
	    display: block;
	}
	#action #nameplate .logo-image {
	    margin: 0;
	}
	#action #nameplate h1 {
	    margin-top: 0.25em;
		line-height: 1.25;
	}
    #action #nameplate h2 {
        margin: 0.5em 1em 0;
        line-height: 1;
    }
	#action #nameplate h2 span {
        display: block;
        padding: 0;
        line-height: 1.175;
	}
    #action #links div {
        height: 25vh;
    }
	#action #links a {
        font-size: 1.75em;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
	}
    #action #links .split {
        height: 12.5vh;
    }
}