@import url(//fonts.googleapis.com/css?family=Ubuntu+Condensed);
@font-face {
    font-family: 'Candela Book';
    src: url('font/CandelaBook-webfont.eot');
    src: url('font/CandelaBook-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CandelaBook-webfont.woff') format('woff'),
         url('font/CandelaBook-webfont.ttf') format('truetype'),
         url('font/CandelaBook-webfont.svg#candelabook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Candela Bold';
    src: url('font/CandelaBold-webfont.eot');
    src: url('font/CandelaBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CandelaBold-webfont.woff') format('woff'),
         url('font/CandelaBold-webfont.ttf') format('truetype'),
         url('font/CandelaBold-webfont.svg#candela_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}



body {
    background-color: #111;
    color: #EFEFFE;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: column;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

header {
    height: 2.5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	padding: 5px 0;
	background: #333;
}
header h1 {
    margin: 0.1em 1em 0;
}
.logo-text {
    font-family: 'Candela Book', sans-serif;
}
.logo-text strong {
    font-family: 'Candela Bold', sans-serif;
    font-size: large;
}
header nav {
    margin: 0 1em 0 0;
    height: 100%;
}
header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
header li {
    border-left: 1px solid #000;
    padding: 0 0.4em;
    list-style: none;
    text-indent: 0;
    text-align: center;
    text-shadow: #333 1px 1px 0;
}
header a {
    text-decoration: none;
    color: #eee;
}


#content {
	padding: 0 15% 45px;   /* Combined height of the footer element */
}

p {
    font-size: 1.25em;
    text-indent: 0.5em;
}

#masthead {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}
#masthead picture {
    margin: 1em 1em 0;
    min-width: 130px;
    min-height: 130px;
    border-radius: 50%;
    background-color: #555;
}
#masthead span {
    font-size: 1.3em;
}
#masthead span span {
    font-size: 1.6em;
}
#biogs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}
#biogs .biog {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#biogs #biog-Brendan {
    border-right: 1px solid #ccc;
}
#biogs #biog-Blixa {
    border-left: 1px solid #ccc;
}
#biogs .biog .biog-nameplate {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
}
#biogs .biog .biog-nameplate span {
    font-size: 110%;
}
#biogs .biog .biog-nameplate picture {
    margin: 0 1em;
}
#biogs .biog .biog-bullets {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}


#principles ul h3 {
    display: inline;
}






#pitch {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 400vh;    /* Mysteriously needed with html height 100%. */
    height: auto;
    color: #EEE;
}
#pitch>div {
    height: 100vh;
    width: 80%;
    margin: 0;
    padding: 0 10% 5vh;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
#pitch p {
    font-size: 3em;
    line-height: 1;
    text-indent: 0;
    margin: 0;
}
#pitch u {
    text-decoration: none;
    border-bottom: 2px solid;
}

.fa {
    color: black;
    text-shadow: none;
}
.white {
    color: white;
}

.logo-red-background {
    background-color: #CD5C5C;
    background-color: hsl(343, 87%, 50%);
    color: #EEE;
}
.logo-green-background {
    background-color: #80CC28;
    background-color: rgb(128,204,40);
    background-color: hsl(88,67%,48%);
    color: #EDEDED;
}
.logo-blue-background {
    background-color: #66CACC;
    background-color: rgb(102,202,204);
    background-color: hsl(181,50%,60%);
    color: black;
}
#headline {
    flex-direction: column;
}
#headline p {
    margin-bottom: 1.25em;
}
#headline #somethings {
    font-size: 3em;
    word-spacing: 1em;
}
.somethingsSequence1 {
    -webkit-animation: somethingsSequence1 2s 1s;
       -moz-animation: somethingsSequence1 2s 1s;
        -ms-animation: somethingsSequence1 2s 1s;
         -o-animation: somethingsSequence1 2s 1s;
            animation: somethingsSequence1 2s 1s;
}
@-webkit-keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence2 {
    -webkit-animation: somethingsSequence2 2s 0.5s;
       -moz-animation: somethingsSequence2 2s 0.5s;
        -ms-animation: somethingsSequence2 2s 0.5s;
         -o-animation: somethingsSequence2 2s 0.5s;
            animation: somethingsSequence2 2s 0.5s;
}
@-webkit-keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence3 {
    -webkit-animation: somethingsSequence3 2s;
       -moz-animation: somethingsSequence3 2s;
        -ms-animation: somethingsSequence3 2s;
         -o-animation: somethingsSequence3 2s;
            animation: somethingsSequence3 2s;
}
@-webkit-keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence3 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence4 {
    -webkit-animation: somethingsSequence4 2s 0.5s;
       -moz-animation: somethingsSequence4 2s 0.5s;
        -ms-animation: somethingsSequence4 2s 0.5s;
         -o-animation: somethingsSequence4 2s 0.5s;
            animation: somethingsSequence4 2s 0.5s;
}
@-webkit-keyframes somethingsSequence4 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence4 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence4 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence4 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.somethingsSequence5 {
    -webkit-animation: somethingsSequence5 2s 1s;
       -moz-animation: somethingsSequence5 2s 1s;
        -ms-animation: somethingsSequence5 2s 1s;
         -o-animation: somethingsSequence5 2s 1s;
            animation: somethingsSequence5 2s 1s;
}
@-webkit-keyframes somethingsSequence5 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes somethingsSequence5 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes somethingsSequence5 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes somethingsSequence5 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#see-do {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
}
#see-do>div {
    width: 33.3%;
}

.stretchRight{
    -webkit-animation-name: stretchRight;
    -moz-animation-name: stretchRight;
    -o-animation-name: stretchRight;
    animation-name: stretchRight;

	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;

	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	animation-timing-function: ease-out;

	-webkit-transform-origin: 0% 0%; 		
	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

#see-do #do {
    margin-top: 10em;
    width: auto;
}
#see-do p {
    margin-bottom: 0.5em;
}
#see-do picture {
    display: inline-block;
    margin-bottom: 2em;
}
#see-do i {
    margin: auto 0.1em;
}
#see-do #do>div {
    font-size: 3em;
}

#consult {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
}
#consult i {
    color: white;
}

#close {
    flex-direction: column;
    background:
        repeating-radial-gradient(
        circle at bottom center, 
        hsla(343, 0%, 50%, 0.9),
        hsla(88, 0%, 48%, 0.9),
        hsla(181, 0%, 60%, 0.9)
        200px);
    background-attachment: fixed;
    background-position: center center;
    text-indent: 0;
    color: white;
    text-shadow: rgb(7, 7, 7) 0px -1px 3px, rgb(7, 7, 7) 0px 1px 3px;
}

#action {
	width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*
	background: -moz-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(radial, closest-side closest-side, 0px, closest-side closest-side, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -o-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -ms-radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: radial-gradient(closest-side, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%); 
	*/
	background-color: #222;
}
#action #nameplate {
    width: 100%;
    height: 67vh;
    margin: 0;
    padding: 0;
	background-image: url(http://www.transparenttextures.com/patterns/triangles.png);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1c1c1c;
    font-family: 'Candela Book', 'VAG Rounded', sans-serif;
    -webkit-box-shadow: 0 10px 10px 5px rgba(0,0,0,0.5);
    box-shadow: 0 7.5px 10px 10px rgba(34,34,34,0.75);
    z-index: 2;
}
#action #nameplate #logo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
}
#action #nameplate .logo-image {
    margin-left: -0.75em;
}
#action #nameplate h1 {
    font-size: 3em;
    font-weight: normal;
    line-height: 2;
    margin: 0.8em 0 0 -0.2em;
    color: #EEE;
}
#action strong {
    font-family: 'Candela Bold', 'VAG Rounded', sans-serif;
    font-size: 110%;
}

#nameplate #tagline {
    border-top: 1px solid #AAA;
    min-width: 33%;
    margin: 0.75em auto 0;
}
#nameplate h2 {
    text-align: center;
    font-size: 2em;
    line-height: 0.5;
    word-spacing: 0.35em;
    font-weight: normal;
    color: #CDCDDC;
}

#action #links {
    width: 100%;
    margin: 0;
    padding: 0;
    text-shadow: rgba(0,0,0,0.5) 0 0 2px,rgb(255,255,255) 0 0 1px;
}

#action #links ul {
    width: 100%;
    height: 33vh;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
#action #links div {
    width: 33.33%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
#action #links a {
    width: 100%;
    height: 33vh;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    font-size: 2em;
    text-decoration: none;
    text-shadow:    hsla(0,0%,10%,0.5) 1px 1px 1px, 
                    hsla(0,0%,10%,0.5) -1px 1px 1px, 
                    hsla(0,0%,10%,0.5) 1px -1px 1px, 
                    hsla(0,0%,10%,0.5) -1px -1px 1px;
}
#action #links a:hover {
    color: #222;
    text-shadow: none;
}
#action #links li {
    list-style: none;
}
.logo-red-bg-hover {
    background-color: #999999;
    background-color: rgb(153, 153, 153);
    background-color: hsl(343, 0%, 55%);
    /*background-image: linear-gradient(hsla(343, 1%, 13%, 0.8),hsl(343, 1%, 55%));*/
}
.logo-red-bg-hover a {
    color: #EE114F;
    color: rgb(238, 17, 79);
    color: hsl(343, 87%, 50%);
}
.logo-red-bg-hover:hover {
    background-color: #EE114F;
    background-color: rgb(238, 17, 79);
    background-color: hsl(343, 87%, 50%);
    background-image: none;
    text-shadow: none;
}
.logo-green-bg-hover {
    background-color: #7A7A7A;
    background-color: rgb(127,127,127);
    background-color: hsl(88,0%,48%);
    /*background-image: linear-gradient(hsla(88, 1%, 13%, 0.8),hsl(88, 1%, 48%));*/
}
.logo-green-bg-hover a {
    color: #80CC28;
    color: rgb(128,204,40);
    color: hsl(88,67%,48%);
}
.logo-green-bg-hover:hover {
    background-color: #80CC28;
    background-color: rgb(128,204,40);
    background-color: hsl(88,67%,48%);
    /*background-image: linear-gradient(hsla(88, 1%, 13%, 0.8),hsl(88, 67%, 48%));*/
}
#action #links .split {
    height: 16.5vh;
    font-size: 150%;
}
#action #links .split:hover {
    background-color: #66CACC;
    background-color: rgb(102,202,204);
    background-color: hsl(181,50%,60%);
}
#action #links .upper {
    justify-content: flex-end;
}
#action #links .lower {
    justify-content: flex-start;
}
.logo-blue-bg-hover {
    background-color: #999999;
    background-color: rgb(153,153,153);
    background-color: hsl(181,0%,60%);
    /*background-image: linear-gradient(hsla(181, 1%, 13%, 0.8),hsl(181, 1%, 60%));*/
}
.logo-blue-bg-hover a {
    color: #66CACC;
    color: rgb(102,202,204);
    color: hsl(181,50%,60%);
}
.logo-blue-bg-hover:hover {
}
#action #links a:hover {
    color: #222;
    text-shadow: none;
}


/* In until linked pages are ready. */
#action {
    background-color: #444;
}
#action #nameplate {
    background-color: #222;
}
#action #links {
    width: 100%;
    height: 33vh;
    margin: 0 auto;
}
#action #links a {
    text-indent: 0;
    line-height: 1.25;
    background-image:
        linear-gradient(
            to right, 
            hsla(343, 0%, 55%, 0.85),
            hsla( 88, 0%, 48%, 0.85), 
            hsla(181, 0%, 60%, 0.85)
        );
}
#action #links a, #action #links a:visited {
    color: #EFEFFE;
    text-decoration: none;
}
#action #links a:hover, #action #links a:active {
    background-image:
        linear-gradient(
            to right, 
            hsla(343, 87%, 50%, 0.5),
            hsla( 88, 67%, 48%, 0.5), 
            hsla(181, 50%, 60%, 0.5)
        );
}
#action #links a span {
    border-bottom: 2px dotted white;
}
#action #links a:hover span {
    border-bottom-style: solid;
}
#action #links ul {
    display: none;
}
#action #links div {
    display: none;
}
/* In until linked pages are ready. */


@media (max-width: 1043px) {
	body {
		font-size: 90%;
	}
	article {
		padding: 0;
		width: 100%;
	}
	p {
		font-size: 1.5em;
		margin: .5em 0 0 0;
	}
	#nameplate h2 {
		font-size: auto;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 80%;
	}
	article {
		padding: 0;
		width: 100%;
	}
	p {
		font-size: 1.5em;
		margin: .5em 0 0 0;
	}
	#nameplate h2 {
		font-size: auto;
	}
}

@media (max-width: 420px) {
    #headline #somethings {
        font-size: 2.5em;
        word-spacing: 0.5em;
    }
}